<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chat App</title>
</head>
<body>
	Chat App
	<div id="messages"></div>

	<form id="message-form">
		<input name="message" placeholder="Message">
		<button>Send</button>
	</form>

	<button id="send-location">Send Location</button>

	<script id="message-template" type="text/html">
		<div>
			<p>{{message}}</p>
		</div>
	</script>

	<script id="location-message-template" type="text/html">
		<div>
			<p><a href="{{url}}" target="_blank">My Current Location</a></p>
		</div>
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/chat.js"></script>
</body>
</html>